<div class="ui cards">
  <div class="card">
    <div class="content">
      <b>友情链接</b>
      <div class="ui divider"></div>
      <div class="ui list">
        <div class="item">
          <a href="https://cnodejs.org/" target="_blank"><img src="/images/cnode.png" style="width:100%"></a>
        </div>
      </div>
    </div>
  </div>
</div>