<% include header %>

<div class="container">
  <div class="ui form segment" style="width:400px;margin:60px auto">
    <form method="post">
      <div class="ui left icon input">
        <i class="mail icon"></i>
        <input type="text" placeholder="用户名" name="name">
      </div>
      <br><br>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" placeholder="密码" name="password">
      </div>
      <br><br>
      <input type="submit" class="ui button fluid" value="登录">
    </form>
  </div>
</div>

<% include footer %>