<% include header %>

<div class="container">
  <div class="ui two column centered grid">
    <div class="right floated left aligned four wide column">
      <% include partials/userCard %>
      <% if ($this.session.user) { %>
        <% include partials/createCard %>
      <% } %>
      <% include partials/noReplyCard %>
      <% include partials/linkCard %>
    </div>
    <div class="left floated twelve wide column">
      <% include partials/list %>
    </div>
  </div>
</div>

<% include footer %>